/* Navbar Styles */
.navbar > .container {width:auto;}



.navSelect {
	margin-top: 30px;
	font-size: 0.9em;
}



#mainName:hover {
    opacity:0.5;
}

#navContainer {
	
	padding-bottom: 25px;

  
}


/* Main Content -Index.html */

body {


	font-size: 15px;
}


img {
	
	max-width: 100%;
  	
}

img:hover {

	/*opacity:0.7;*/
	
	cursor: pointer;
	
}

.container {

	width: 100%;
}

#mainContainer {

	margin-top: 65px;
}

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.borderReveal:hover {

	border:8px solid black;
}


/* Main Content -About.html */

.center {
	text-align: center;
}

#aboutPic {
	border-radius: 10px;
}

#aboutHeader {

	text-decoration: underline;
}

#aboutRow {

	margin-bottom: 10px;
}

#lineHeight h3 {

	line-height: 150%;
}




/* footer Styles */

footer {

	text-align: center;
	background-color: #000000;
	padding:50px;
	margin-top: 1px;
}

p {

	color:white;
	font-size: 20px;
}

#facebookIcon {
	margin-bottom: 6px;
}

.footerPush {
	margin-bottom: 20px;
}





